/** @format */

html {
  font-size: 62.5%; /* 16px * 62.5% = 10px */
}

a,p{
  font-family: 'Zen Maru Gothic';
}
// （質問）なぜaとpがZen Maru Gothicにならないのでしょうか？

img{
  width: 100%;
}

.fixed-bg {
  // height: 300px;
  background-attachment: fixed;
  background-size: cover;
  background-position: left 110% top 30%;
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 100px 0;
  height: 862px;
  width: 100%;
}
